<h1>Привет-привет</h1>
<p>Добро пожаловать в словарик. Эту штуку я писал и, наверное, всё ещё пишу потому что решил разобраться с ASP.Net Core MVC и AngularJS 7</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> и <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> для того, чтобы посмотреть не самые лучшие статейки по Asp.Net Core</li>
  <li><a href='https://angular.io/'>Angular</a> и <a href='http://www.typescriptlang.org/'>TypeScript</a> а вот это про ангуларчик</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> а это про бутстрап, но он чё-то всё равно не сильно работает</li>
</ul>
<p>Чтобы начать работать читай ниже</p>
<ul>
  <li><strong>Нужна база данных</strong>. Эта кухня не будет работать без БД, а ошибки её отсутсвия я пока не хэндил, вроде. На проекте DAL нужно в Nuget Powershel лупануть UpdateDatabase</li>
  <li><strong>Валидации нема</strong>. А потому много чего может упасть с 500-ой ошибкой, это норм</li>
</ul>
