<div class="form-group">
  <h1>Assigned Word Tasks</h1>
  <ng-container #createFormContainer></ng-container>
</div>

<div class="d-flex justify-content-center" *ngIf="!dataSource">
  <mat-spinner></mat-spinner>
</div>
<div mat-elevation-z8 mt-lg-2 *ngIf="dataSource">
  <table mat-table [dataSource]="dataSource" class="w-100">

    <ng-container matColumnDef="taskName">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Task Name </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.wordTask.name}} </td>
    </ng-container>

    <ng-container matColumnDef="deadline">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Deadline </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.deadline | date}} </td>
    </ng-container>

    <ng-container matColumnDef="wordsCount">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Words Count</th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.wordTask.words.length}} </td>
    </ng-container>

    <ng-container matColumnDef="taskStatus">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Task Status </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.taskStatus}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Actions </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <div class="btn-group">
          <button [routerLink]='["/word-task-wizard"]' [disabled]="element.completeDate" (click)="onStartWordTask(element)" class="btn btn-success">Start</button>
          <button [routerLink]='["/word-task-results", element.id]' [disabled]="!element.completeDate" class="btn btn-warning">Results</button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['taskName', 'deadline', 'wordsCount','taskStatus', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['taskName', 'deadline', 'wordsCount', 'taskStatus', 'actions'];"></tr>
  </table>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

