<form [formGroup]="editorForm" (ngSubmit)="onSubmit()">
  <div class="row justify-content-center align-items-center">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <label for="userName">Name</label>
            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="ex: Kill Kenny" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Task name is required</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-11">
              <label class="col-md-8">Assigned Words</label>
              <button type="button" class="btn btn-sm btn-primary col-md-4" (click)="showAddWordForm()">Add Word</button>
            </div>
          </div>
          <div class="form-group" *ngFor="let word of assignedWords">
            {{word.word}}
            <button type="button" class="btn btn-danger" (click)="removeAssignedWord(word)">&times;</button>
          </div>
          <div class="form-group">
            <common-select [inputObjectArray]="existingWords" *ngIf="showSelect" (notifyAboutConfirm)="getSelectedValue($event)" (notifyAboutCancel)="onCancelSelect()"></common-select>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Confirm</button>
            <button type="button" (click)="onCancel()" class="btn btn-danger">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>


