<div class="d-flex justify-content-center" *ngIf="!task">
  <mat-spinner></mat-spinner>
</div>
<div mat-elevation-z8 mt-lg-2>
  <div class="form-group row" *ngIf="task">
    <div class="col-sm-10">
      <h1 type="text" class="form-control-plaintext">{{task.wordTask.name}}</h1>
    </div>
  </div>
  <div class="form-group row" *ngIf="task">
    <div class="col-sm-10">
      <mat-checkbox disabled [(ngModel)]="task.wordTask.isTranslationTask">Is Translation</mat-checkbox>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-5">
      <p>Words:</p>
      <mat-form-field>
        <input matInput (keyup)="applyWordsFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <table mat-table [dataSource]="wordsDataSource" class="w-100" *ngIf="task">
        <ng-container matColumnDef="word">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Word </th>
          <td mat-cell *matCellDef="let element" class="text-center"> {{element.word.word}} </td>
        </ng-container>

        <ng-container matColumnDef="order">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Order </th>
          <td mat-cell *matCellDef="let element" class="text-center"> {{element.order}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['word', 'order']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['word', 'order'];"></tr>
      </table>
      <mat-paginator #wordsPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="col-md-7">
      <p>Assignees:</p>
      <mat-form-field>
        <input matInput (keyup)="applyAssigneeFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <table mat-table [dataSource]="assigneeDataSource" class="w-100" *ngIf="task">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="text-center"> User Name </th>
          <td mat-cell *matCellDef="let element" class="text-center"> {{element.user.name}} </td>
        </ng-container>

        <ng-container matColumnDef="deadline">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Deadline </th>
          <td mat-cell *matCellDef="let element" class="text-center"> {{element.deadline | date}} </td>
        </ng-container>

        <ng-container matColumnDef="taskStatus">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Task Status </th>
          <td mat-cell *matCellDef="let element" class="text-center"> {{element.taskStatus}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Actions </th>
          <td mat-cell *matCellDef="let element" class="text-center">
            <div class="btn-group">
              <button (click)="onUnAssign(element)" class="btn btn-danger  btn-sm" [disabled]="element.completeDate">Unassign</button>
              <button class="btn btn-success  btn-sm" [routerLink]='["/word-task-results", element.id]' [disabled]="!element.completeDate">Results</button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name', 'deadline', 'taskStatus', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'deadline', 'taskStatus', 'actions'];"></tr>
      </table>
      <mat-paginator #assigneePaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

  </div>
</div>
