<h1>Already existing words</h1>

<p>This component demonstrates fetching data from the server.</p>

<app-word-editor-form (notifyAboutCreate)="onWordCreate($event)"></app-word-editor-form>

<p *ngIf="!words"><em>Loading...</em></p>

<!--<button (click)="onWordAdd()">Add Word</button>-->

<table class='table table-striped' *ngIf="words">
  <thead>
  <tr>
    <th>Word</th>
    <th>Transcription</th>
    <th>Translation</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let word of words">
    <td>{{ word.word }}</td>
    <td>{{ word.transcription}}</td>
    <td>{{ word.translation }}</td>
    <td><app-word-editor-btn-bar (notifyAboutEdit) = "onWordEdit($event)" (notifyAboutDelete) = "onWordDelete($event)" [word]="word"></app-word-editor-btn-bar></td>
  </tr>
  </tbody>
</table>
