<div class="d-flex justify-content-center" *ngIf="!assignedVerbTask">
  <mat-spinner></mat-spinner>
</div>

<div class="form-group" *ngIf="assignedVerbTask">
  <h2>{{assignedVerbTask.name}}</h2>

  <form [formGroup]="wizardForm" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center align-items-center">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <span>Verb {{verbIndex + 1}} of {{assignedVerbTask.verbs.length}} - <b>{{assignedVerbTask.verbs[verbIndex].verb.commonWord}}</b></span>
            </div>
            <div class="form-group">
              <label for="firstForm">First Form:</label>
              <input type="text" formControlName="firstForm" class="form-control" [ngClass]="{ 'is-invalid': submitted && wizardForm.controls.firstForm.errors }" placeholder="Type your answer" />
              <div *ngIf="submitted && wizardForm.controls.firstForm.errors" class="invalid-feedback">
                <div *ngIf="wizardForm.controls.firstForm.errors.required">Answer is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="secondForm">Second Form:</label>
              <input type="text" formControlName="secondForm" class="form-control" [ngClass]="{ 'is-invalid': submitted && wizardForm.controls.secondForm.errors }" placeholder="Type your answer" />
              <div *ngIf="submitted && wizardForm.controls.secondForm.errors" class="invalid-feedback">
                <div *ngIf="wizardForm.controls.secondForm.errors.required">Answer is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="thirdForm">Third Form:</label>
              <input type="text" formControlName="thirdForm" class="form-control" [ngClass]="{ 'is-invalid': submitted && wizardForm.controls.thirdForm.errors }" placeholder="Type your answer" />
              <div *ngIf="submitted && wizardForm.controls.thirdForm.errors" class="invalid-feedback">
                <div *ngIf="wizardForm.controls.thirdForm.errors.required">Answer is required</div>
              </div>
            </div>
            <div class="form-group">
              <div class="btn-group col-md-9">
                <button type="button" (click)="onBack()" class="btn btn-primary" [disabled]="verbIndex==0">Back</button>
                <button type="button" (click)="onNext()" class="btn btn-primary" [disabled]="verbIndex==assignedVerbTask.verbs.length-1">Next</button>
              </div>
              <div class="btn-group align-content-lg-end align-content-end">
                <button type="button" (click)="onSubmit()" class="btn btn-danger" [disabled]="verbIndex!=assignedVerbTask.verbs.length-1">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

