<nav class="navbar navbar-expand-lg navbar-dark ">
  <img src="https://ui-ex.com/images/book-transparent-black-and-white-6.png" class="navbar-brand" />
  <button class="navbar-toggler" type="button" data-target="#navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <p class="text-light">Hello, {{currentUserName}}</p>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/"]'>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/words"]'>Words</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/verbs"]'>Verbs</a>
      </li>
      <li class="nav-item" *ngIf="userRole === this.roleTypes[this.roleTypes.Administrator]">
        <a class="nav-link" [routerLink]='["/user-management"]'>Users</a>
      </li>
      <li class="nav-item">
        <a class="btn nav-link" mat-button [matMenuTriggerFor]="menu">Tasks</a>
        <mat-menu #menu="matMenu">
          <a class="nav-link" *ngIf="userRole === this.roleTypes[this.roleTypes.Administrator] || userRole === this.roleTypes[this.roleTypes.Teacher]" mat-menu-item [routerLink]='["/word-task-management"]'>Word Tasks</a>
          <a class="nav-link" *ngIf="userRole === this.roleTypes[this.roleTypes.Pupil]" mat-menu-item [routerLink]='["/pupil-word-tasks"]'>Word Tasks</a>

          <a class="nav-link" *ngIf="userRole === this.roleTypes[this.roleTypes.Administrator] || userRole === this.roleTypes[this.roleTypes.Teacher]" mat-menu-item [routerLink]='["/verb-task-management"]'>Word Tasks</a>
          <a class="nav-link" *ngIf="userRole === this.roleTypes[this.roleTypes.Pupil]" mat-menu-item [routerLink]='["/pupil-verb-tasks"]'>Word Tasks</a>
        </mat-menu>
      </li>
      <li class="nav-link" [routerLinkActive]='["link-active"]'>
        <button class="btn-dark btn" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>
