<nav class="navbar navbar-expand-lg navbar-dark ">
  <img src="https://ui-ex.com/images/book-transparent-black-and-white-6.png" class="navbar-brand" />
  <button class="navbar-toggler" type="button" data-target="#navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <p class="text-light">Hello, {{currentUserName}}</p>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/"]'>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/words"]'>Words</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/irregular-verbs"]'>Verbs</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" [routerLink]='["/user-management"]'>Users</a>
      </li>
      <li class="nav-item">
        <a class="btn nav-link" mat-button [matMenuTriggerFor]="menu">Tasks</a>
        <mat-menu #menu="matMenu">
          <a class="nav-link" mat-menu-item [routerLink]='isAdmin? ["/word-task-management"] : ["/pupil-word-tasks"]'>Word Tasks</a>
          <a class="nav-link" mat-menu-item [routerLink]='isAdmin? ["/verb-task-management"] : ["/pupil-verb-tasks"]'>Verb Tasks</a>
        </mat-menu>
      </li>
      <li class="nav-link" [routerLinkActive]='["link-active"]'>
        <button class="btn-dark btn" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>
