<p *ngIf="!assignedWordTasks"><em>Loading...</em></p>

<div class="content" *ngIf="assignedWordTasks">
  <div class="form-group row">
    <div class="col-sm-10">
      <h1 type="text" class="form-control-plaintext">Assigned Tasks</h1>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <h3>Word Tasks:</h3>
      <table class='table table-striped'>
        <thead>
        <tr>
          <th class="text-center">Task Name</th>
          <th class="text-center">Deadline</th>
          <th class="text-center">Words Count</th>
          <th class="text-center">Task Status</th>
          <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let assignee of assignedWordTasks">
          <td class="text-center">{{ assignee.wordTask.name}}</td>
          <td class="text-center">{{ assignee.deadline | date}}</td>
          <td class="text-center">{{ assignee.wordTask.words.length}}</td>
          <td class="text-center">{{ assignee.taskStatus}}</td>
          <td class="text-center">
            <div class="btn-group">
              <button [routerLink]='["/word-task-wizard"]' [disabled]="assignee.completeDate" (click)="onStartWordTask(assignee)" class="btn btn-success">Start</button>
              <button [routerLink]='["/word-task-results", assignee.id]' [disabled]="!assignee.completeDate"  class="btn btn-warning">Results</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="table-responsive">
      <h3>Verb Tasks:</h3>
      <table class='table table-striped'>
        <thead>
        <tr>
          <th class="text-center">Task Name</th>
          <th class="text-center">Deadline</th>
          <th class="text-center">Verbs Count</th>
          <th class="text-center">Task Status</th>
          <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let assignee of assignedVerbTasks">
          <td class="text-center">{{ assignee.verbTask.name}}</td>
          <td class="text-center">{{ assignee.deadline | date}}</td>
          <td class="text-center">{{ assignee.verbTask.verbs.length}}</td>
          <td class="text-center">{{ assignee.taskStatus}}</td>
          <td class="text-center">
            <div class="btn-group">
              <button [routerLink]='["/verb-task-wizard"]' [disabled]="assignee.completeDate" (click)="onStartVerbTask(assignee)" class="btn btn-success">Start</button>
              <button [routerLink]='["/verb-task-results", assignee.id]' [disabled]="!assignee.completeDate"  class="btn btn-warning">Results</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

