<h1>Already existing irregular verbs</h1>

<div class="add-form-dynamic-component-container">
  <button #showAddFormBtn (click)="onShowVerbCreateForm()" class="btn btn-primary">Create Verb</button>
  <ng-container #editVerbFormContainer></ng-container>
</div>
<p></p>
<p *ngIf="!verbs"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="verbs && displayContent">
  <thead>
    <tr>
      <th>Word</th>
      <th>First Form</th>
      <th>Second Form</th>
      <th>Third Form</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let verb of verbs">
      <td>{{ verb.commonWord}}</td>
      <td *ngFor="let word of verb.words">{{ word.word}}</td>
      <td>
        <div class="btn-group">
          <button (click)="onShowVerbEdit(verb)" class="btn btn-info">Edit</button>
          <button (click)="onVerbDelete(verb)" class="btn btn-danger">Delete</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
