<form [formGroup]="verbEditorForm" (ngSubmit)="onSubmit()">
  <div class="row justify-content-center align-items-center">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <label for="commonWord">CommonWord</label>
            <input type="text" formControlName="commonWord" class="form-control" [ngClass]="{ 'is-invalid': submitted && this.verbEditorForm.controls.commonWord.errors }" placeholder="ex: Beer" />
            <div *ngIf="submitted && this.verbEditorForm.controls.commonWord.errors" class="invalid-feedback">
              <div *ngIf="this.verbEditorForm.controls.commonWord.errors.required">Word is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="firstForm">First Form</label>
            <select class="form-control" formControlName="firstForm" id="firstForm" name="firstForm" [ngClass]="{ 'is-invalid': submitted && this.verbEditorForm.controls.firstForm.errors }">
              <option *ngFor="let word of existingWords" [ngValue]="word"  title="{{word.translation}}">{{word.word}}</option>
            </select>
            <div *ngIf="submitted && this.verbEditorForm.controls.firstForm.errors" class="invalid-feedback">
              <div *ngIf="this.verbEditorForm.controls.firstForm.errors.required">First form is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="secondForm">Second Form</label>
            <select class="form-control" formControlName="secondForm" id="secondForm" name="secondForm" [ngClass]="{ 'is-invalid': submitted && this.verbEditorForm.controls.secondForm.errors }">
              <option *ngFor="let word of existingWords" [ngValue]="word" title="{{word.translation}}">{{word.word}}</option>
            </select>
            <div *ngIf="submitted && this.verbEditorForm.controls.secondForm.errors" class="invalid-feedback">
              <div *ngIf="this.verbEditorForm.controls.secondForm.errors.required">Second form is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="thirdForm">Third Form</label>
            <select class="form-control" formControlName="thirdForm" id="thirdForm" name="thirdForm" [ngClass]="{ 'is-invalid': submitted && this.verbEditorForm.controls.thirdForm.errors }">
              <option *ngFor="let word of existingWords" [ngValue]="word"  title="{{word.translation}}">{{word.word}}</option>
            </select>
            <div *ngIf="submitted && this.verbEditorForm.controls.thirdForm.errors" class="invalid-feedback">
              <div *ngIf="this.verbEditorForm.controls.thirdForm.errors.required">Third form is required</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Confirm</button>
            <button type="button" (click)="onCancel()" class="btn btn-danger">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
