  <div class="row justify-content-center align-items-center" style="height: 100vh">
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <p>You're successfully logged in via google!</p>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="username">Email</label>
            <input type="text" class="form-control" disabled="disabled" #emailInput/>
            </div>
         <div class="form-group">
            <button class="btn btn-primary" (click)="register()">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
