<h1>Already existing irregular verbs</h1>

<div class="add-form-dynamic-component-container">
  <button #showAddFormBtn (click)="onShowVerbCreateForm()" class="btn btn-primary">Create Verb</button>
  <ng-container #editVerbFormContainer></ng-container>
</div>
<p></p>
<p *ngIf="!irregularVerbs"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="irregularVerbs && displayContent">
  <thead>
    <tr>
      <th>Word</th>
      <th>First Form</th>
      <th>Second Form</th>
      <th>Third Form</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let irregularVerb of irregularVerbs">
      <td>{{ irregularVerb.commonWord}}</td>
      <td *ngFor="let word of irregularVerb.words">{{ word.word}}</td>
      <td><common-edit-buttons [inputObject]="irregularVerb" (notifyAboutDelete)="onVerbDelete($event)" (notifyAboutEdit)="onShowVerbEdit($event)"></common-edit-buttons></td>
    <!--</td>-->
    </tr>
  </tbody>
</table>
